<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apple</key>
	<dict>
		<key>th</key>
		<string>แอปเปิ้ล</string>
		<key>en</key>
		<string>Apple</string>
		<key>jp</key>
		<string>りんご</string>
	</dict>
	<key>banana</key>
	<dict>
		<key>th</key>
		<string>กล้วย</string>
		<key>en</key>
		<string>Banana</string>
		<key>jp</key>
		<string>バナナ</string>
	</dict>
	<key>avocado</key>
	<dict>
		<key>th</key>
		<string>อะโวคาโด</string>
		<key>en</key>
		<string>Avocado</string>
		<key>jp</key>
		<string>アボカド</string>
	</dict>
	<key>beetroot</key>
	<dict>
		<key>th</key>
		<string>บีทรูท</string>
		<key>en</key>
		<string>Beetroot</string>
		<key>jp</key>
		<string>ビートルート</string>
	</dict>
	<key>bell pepper</key>
	<dict>
		<key>th</key>
		<string>พริกหยวก</string>
		<key>en</key>
		<string>Bell Pepper</string>
		<key>jp</key>
		<string>ピーマン</string>
	</dict>
	<key>blackberry</key>
	<dict>
		<key>th</key>
		<string>แบล็กเบอร์รี่</string>
		<key>en</key>
		<string>Blackberry</string>
		<key>jp</key>
		<string>ブラックベリー</string>
	</dict>
	<key>blueberry</key>
	<dict>
		<key>th</key>
		<string>บลูเบอร์รี่</string>
		<key>en</key>
		<string>Blueberry</string>
		<key>jp</key>
		<string>ブルーベリー</string>
	</dict>
	<key>broccoli</key>
	<dict>
		<key>th</key>
		<string>บรอกโคลี</string>
		<key>en</key>
		<string>Broccoli</string>
		<key>jp</key>
		<string>ブロッコリー</string>
	</dict>
	<key>cabbage</key>
	<dict>
		<key>th</key>
		<string>กะหล่ำปลี</string>
		<key>en</key>
		<string>Cabbage</string>
		<key>jp</key>
		<string>キャベツ</string>
	</dict>
	<key>cantaloupe</key>
	<dict>
		<key>th</key>
		<string>แคนตาลูป</string>
		<key>en</key>
		<string>Cantaloupe</string>
		<key>jp</key>
		<string>カンタロープ</string>
	</dict>
	<key>carrot</key>
	<dict>
		<key>th</key>
		<string>แครอท</string>
		<key>en</key>
		<string>Carrot</string>
		<key>jp</key>
		<string>にんじん</string>
	</dict>
	<key>cauliflower</key>
	<dict>
		<key>th</key>
		<string>ดอกกะหล่ำ</string>
		<key>en</key>
		<string>Cauliflower</string>
		<key>jp</key>
		<string>カリフラワー</string>
	</dict>
	<key>cherry</key>
	<dict>
		<key>th</key>
		<string>เชอร์รี่</string>
		<key>en</key>
		<string>Cherry</string>
		<key>jp</key>
		<string>さくらんぼ</string>
	</dict>
	<key>corn</key>
	<dict>
		<key>th</key>
		<string>ข้าวโพด</string>
		<key>en</key>
		<string>Corn</string>
		<key>jp</key>
		<string>トウモロコシ</string>
	</dict>
	<key>cucumber</key>
	<dict>
		<key>th</key>
		<string>แตงกวา</string>
		<key>en</key>
		<string>Cucumber</string>
		<key>jp</key>
		<string>きゅうり</string>
	</dict>
	<key>dragon fruit</key>
	<dict>
		<key>th</key>
		<string>แก้วมังกร</string>
		<key>en</key>
		<string>Dragon Fruit</string>
		<key>jp</key>
		<string>ドラゴンフルーツ</string>
	</dict>
	<key>eggplant</key>
	<dict>
		<key>th</key>
		<string>มะเขือม่วง</string>
		<key>en</key>
		<string>Eggplant</string>
		<key>jp</key>
		<string>なす</string>
	</dict>
	<key>garlic</key>
	<dict>
		<key>th</key>
		<string>กระเทียม</string>
		<key>en</key>
		<string>Garlic</string>
		<key>jp</key>
		<string>にんにく</string>
	</dict>
	<key>ginger</key>
	<dict>
		<key>th</key>
		<string>ขิง</string>
		<key>en</key>
		<string>Ginger</string>
		<key>jp</key>
		<string>しょうが</string>
	</dict>
	<key>grapes</key>
	<dict>
		<key>th</key>
		<string>องุ่น</string>
		<key>en</key>
		<string>Grapes</string>
		<key>jp</key>
		<string>ぶどう</string>
	</dict>
	<key>guava</key>
	<dict>
		<key>th</key>
		<string>ฝรั่ง</string>
		<key>en</key>
		<string>Guava</string>
		<key>jp</key>
		<string>グアバ</string>
	</dict>
	<key>jalepeno</key>
	<dict>
		<key>th</key>
		<string>ฮาลาพินโย</string>
		<key>en</key>
		<string>Jalepeno</string>
		<key>jp</key>
		<string>ハラペーニョ</string>
	</dict>
	<key>kiwi</key>
	<dict>
		<key>th</key>
		<string>กีวี</string>
		<key>en</key>
		<string>Kiwi</string>
		<key>jp</key>
		<string>キウイ</string>
	</dict>
	<key>lemon</key>
	<dict>
		<key>th</key>
		<string>เลมอน</string>
		<key>en</key>
		<string>Lemon</string>
		<key>jp</key>
		<string>レモン</string>
	</dict>
	<key>lettuce</key>
	<dict>
		<key>th</key>
		<string>ผักกาดหอม</string>
		<key>en</key>
		<string>Lettuce</string>
		<key>jp</key>
		<string>レタス</string>
	</dict>
	<key>lime</key>
	<dict>
		<key>th</key>
		<string>มะนาว</string>
		<key>en</key>
		<string>Lime</string>
		<key>jp</key>
		<string>ライム</string>
	</dict>
	<key>lychee</key>
	<dict>
		<key>th</key>
		<string>ลิ้นจี่</string>
		<key>en</key>
		<string>Lychee</string>
		<key>jp</key>
		<string>ライチ</string>
	</dict>
	<key>mango</key>
	<dict>
		<key>th</key>
		<string>มะม่วง</string>
		<key>en</key>
		<string>Mango</string>
		<key>jp</key>
		<string>マンゴー</string>
	</dict>
	<key>onion</key>
	<dict>
		<key>th</key>
		<string>หัวหอม</string>
		<key>en</key>
		<string>Onion</string>
		<key>jp</key>
		<string>たまねぎ</string>
	</dict>
	<key>orange</key>
	<dict>
		<key>th</key>
		<string>ส้ม</string>
		<key>en</key>
		<string>Orange</string>
		<key>jp</key>
		<string>オレンジ</string>
	</dict>
	<key>papaya</key>
	<dict>
		<key>th</key>
		<string>มะละกอ</string>
		<key>en</key>
		<string>Papaya</string>
		<key>jp</key>
		<string>パパイヤ</string>
	</dict>
	<key>peach</key>
	<dict>
		<key>th</key>
		<string>พีช</string>
		<key>en</key>
		<string>Peach</string>
		<key>jp</key>
		<string>もも</string>
	</dict>
	<key>pear</key>
	<dict>
		<key>th</key>
		<string>ลูกแพร์</string>
		<key>en</key>
		<string>Pear</string>
		<key>jp</key>
		<string>なし</string>
	</dict>
	<key>peas</key>
	<dict>
		<key>th</key>
		<string>ถั่วลันเตา</string>
		<key>en</key>
		<string>Peas</string>
		<key>jp</key>
		<string>えんどう</string>
	</dict>
	<key>persimmon</key>
	<dict>
		<key>th</key>
		<string>ลูกพลับ</string>
		<key>en</key>
		<string>Persimmon</string>
		<key>jp</key>
		<string>かき</string>
	</dict>
	<key>pineapple</key>
	<dict>
		<key>th</key>
		<string>สับปะรด</string>
		<key>en</key>
		<string>Pineapple</string>
		<key>jp</key>
		<string>パイナップル</string>
	</dict>
	<key>plum</key>
	<dict>
		<key>th</key>
		<string>พลัม</string>
		<key>en</key>
		<string>Plum</string>
		<key>jp</key>
		<string>プラム</string>
	</dict>
	<key>pomegranate</key>
	<dict>
		<key>th</key>
		<string>ทับทิม</string>
		<key>en</key>
		<string>Pomegranate</string>
		<key>jp</key>
		<string>ザクロ</string>
	</dict>
	<key>potato</key>
	<dict>
		<key>th</key>
		<string>มันฝรั่ง</string>
		<key>en</key>
		<string>Potato</string>
		<key>jp</key>
		<string>じゃがいも</string>
	</dict>
	<key>pumpkin</key>
	<dict>
		<key>th</key>
		<string>ฟักทอง</string>
		<key>en</key>
		<string>Pumpkin</string>
		<key>jp</key>
		<string>かぼちゃ</string>
	</dict>
	<key>radish</key>
	<dict>
		<key>th</key>
		<string>หัวไชเท้า</string>
		<key>en</key>
		<string>Radish</string>
		<key>jp</key>
		<string>だいこん</string>
	</dict>
	<key>rambutan</key>
	<dict>
		<key>th</key>
		<string>เงาะ</string>
		<key>en</key>
		<string>Rambutan</string>
		<key>jp</key>
		<string>ランブータン</string>
	</dict>
	<key>rasberry</key>
	<dict>
		<key>th</key>
		<string>ราสเบอร์รี่</string>
		<key>en</key>
		<string>Rasberry</string>
		<key>jp</key>
		<string>ラズベリー</string>
	</dict>
	<key>soy beans</key>
	<dict>
		<key>th</key>
		<string>ถั่วเหลือง</string>
		<key>en</key>
		<string>Soy Beans</string>
		<key>jp</key>
		<string>だいず</string>
	</dict>
	<key>spinach</key>
	<dict>
		<key>th</key>
		<string>ผักโขม</string>
		<key>en</key>
		<string>Spinach</string>
		<key>jp</key>
		<string>ほうれんそう</string>
	</dict>
	<key>strawberry</key>
	<dict>
		<key>th</key>
		<string>สตรอว์เบอร์รี่</string>
		<key>en</key>
		<string>Strawberry</string>
		<key>jp</key>
		<string>いちご</string>
	</dict>
	<key>sweetpotato</key>
	<dict>
		<key>th</key>
		<string>มันเทศ</string>
		<key>en</key>
		<string>Sweet Potato</string>
		<key>jp</key>
		<string>さつまいも</string>
	</dict>
	<key>tomato</key>
	<dict>
		<key>th</key>
		<string>มะเขือเทศ</string>
		<key>en</key>
		<string>Tomato</string>
		<key>jp</key>
		<string>トマト</string>
	</dict>
	<key>turnip</key>
	<dict>
		<key>th</key>
		<string>หัวผักกาด</string>
		<key>en</key>
		<string>Turnip</string>
		<key>jp</key>
		<string>カブ</string>
	</dict>
	<key>watermelon</key>
	<dict>
		<key>th</key>
		<string>แตงโม</string>
		<key>en</key>
		<string>Watermelon</string>
		<key>jp</key>
		<string>すいか</string>
	</dict>
	<key>zucchini</key>
	<dict>
		<key>th</key>
		<string>ซูกินี</string>
		<key>en</key>
		<string>Zucchini</string>
		<key>jp</key>
		<string>ズッキーニ</string>
	</dict>
</dict>
</plist>
