<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>imageName</key>
            <string>pig</string>
            <key>answerId</key>
            <integer>302</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>300</integer><key>optionId</key><string>A</string><key>option</key><string>Boar</string></dict>
                <dict><key>id</key><integer>301</integer><key>optionId</key><string>B</string><key>option</key><string>Cow</string></dict>
                <dict><key>id</key><integer>302</integer><key>optionId</key><string>C</string><key>option</key><string>Pig</string></dict>
                <dict><key>id</key><integer>303</integer><key>optionId</key><string>D</string><key>option</key><string>Hippopotamus</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>parrot</string>
            <key>answerId</key>
            <integer>313</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>310</integer><key>optionId</key><string>A</string><key>option</key><string>Pelican</string></dict>
                <dict><key>id</key><integer>311</integer><key>optionId</key><string>B</string><key>option</key><string>Owl</string></dict>
                <dict><key>id</key><integer>312</integer><key>optionId</key><string>C</string><key>option</key><string>Bird</string></dict>
                <dict><key>id</key><integer>313</integer><key>optionId</key><string>D</string><key>option</key><string>Parrot</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>dog</string>
            <key>answerId</key>
            <integer>322</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>320</integer><key>optionId</key><string>A</string><key>option</key><string>Fox</string></dict>
                <dict><key>id</key><integer>321</integer><key>optionId</key><string>B</string><key>option</key><string>Raccoon</string></dict>
                <dict><key>id</key><integer>322</integer><key>optionId</key><string>C</string><key>option</key><string>Dog</string></dict>
                <dict><key>id</key><integer>323</integer><key>optionId</key><string>D</string><key>option</key><string>Monkey</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>cat</string>
            <key>answerId</key>
            <integer>332</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>330</integer><key>optionId</key><string>A</string><key>option</key><string>Lynx</string></dict>
                <dict><key>id</key><integer>331</integer><key>optionId</key><string>B</string><key>option</key><string>Fox</string></dict>
                <dict><key>id</key><integer>332</integer><key>optionId</key><string>C</string><key>option</key><string>Cat</string></dict>
                <dict><key>id</key><integer>333</integer><key>optionId</key><string>D</string><key>option</key><string>Tiger</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>duck</string>
            <key>answerId</key>
            <integer>343</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>340</integer><key>optionId</key><string>A</string><key>option</key><string>Swan</string></dict>
                <dict><key>id</key><integer>341</integer><key>optionId</key><string>B</string><key>option</key><string>Chicken</string></dict>
                <dict><key>id</key><integer>342</integer><key>optionId</key><string>C</string><key>option</key><string>Flamingo</string></dict>
                <dict><key>id</key><integer>343</integer><key>optionId</key><string>D</string><key>option</key><string>Duck</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>panda</string>
            <key>answerId</key>
            <integer>352</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>350</integer><key>optionId</key><string>A</string><key>option</key><string>Red panda</string></dict>
                <dict><key>id</key><integer>351</integer><key>optionId</key><string>B</string><key>option</key><string>Koala</string></dict>
                <dict><key>id</key><integer>352</integer><key>optionId</key><string>C</string><key>option</key><string>Panda</string></dict>
                <dict><key>id</key><integer>353</integer><key>optionId</key><string>D</string><key>option</key><string>Bear</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>jellyfish</string>
            <key>answerId</key>
            <integer>362</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>360</integer><key>optionId</key><string>A</string><key>option</key><string>Squid</string></dict>
                <dict><key>id</key><integer>361</integer><key>optionId</key><string>B</string><key>option</key><string>Starfish</string></dict>
                <dict><key>id</key><integer>362</integer><key>optionId</key><string>C</string><key>option</key><string>Jellyfish</string></dict>
                <dict><key>id</key><integer>363</integer><key>optionId</key><string>D</string><key>option</key><string>Seahorse</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>seal</string>
            <key>answerId</key>
            <integer>372</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>370</integer><key>optionId</key><string>A</string><key>option</key><string>Otter</string></dict>
                <dict><key>id</key><integer>371</integer><key>optionId</key><string>B</string><key>option</key><string>Walrus</string></dict>
                <dict><key>id</key><integer>372</integer><key>optionId</key><string>C</string><key>option</key><string>Seal</string></dict>
                <dict><key>id</key><integer>373</integer><key>optionId</key><string>D</string><key>option</key><string>Dolphin</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>whale</string>
            <key>answerId</key>
            <integer>382</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>380</integer><key>optionId</key><string>A</string><key>option</key><string>Dolphin</string></dict>
                <dict><key>id</key><integer>381</integer><key>optionId</key><string>B</string><key>option</key><string>Shark</string></dict>
                <dict><key>id</key><integer>382</integer><key>optionId</key><string>C</string><key>option</key><string>Whale</string></dict>
                <dict><key>id</key><integer>383</integer><key>optionId</key><string>D</string><key>option</key><string>Fish</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>squirrel</string>
            <key>answerId</key>
            <integer>392</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>390</integer><key>optionId</key><string>A</string><key>option</key><string>Mouse</string></dict>
                <dict><key>id</key><integer>391</integer><key>optionId</key><string>B</string><key>option</key><string>Hamster</string></dict>
                <dict><key>id</key><integer>392</integer><key>optionId</key><string>C</string><key>option</key><string>Squirrel</string></dict>
                <dict><key>id</key><integer>393</integer><key>optionId</key><string>D</string><key>option</key><string>Rabbit</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>tiger</string>
            <key>answerId</key>
            <integer>402</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>400</integer><key>optionId</key><string>A</string><key>option</key><string>Lion</string></dict>
                <dict><key>id</key><integer>401</integer><key>optionId</key><string>B</string><key>option</key><string>Lynx</string></dict>
                <dict><key>id</key><integer>402</integer><key>optionId</key><string>C</string><key>option</key><string>Tiger</string></dict>
                <dict><key>id</key><integer>403</integer><key>optionId</key><string>D</string><key>option</key><string>Cat</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>frog</string>
            <key>answerId</key>
            <integer>412</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>410</integer><key>optionId</key><string>A</string><key>option</key><string>Toad</string></dict>
                <dict><key>id</key><integer>411</integer><key>optionId</key><string>B</string><key>option</key><string>Lizard</string></dict>
                <dict><key>id</key><integer>412</integer><key>optionId</key><string>C</string><key>option</key><string>Frog</string></dict>
                <dict><key>id</key><integer>413</integer><key>optionId</key><string>D</string><key>option</key><string>Snake</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>elephant</string>
            <key>answerId</key>
            <integer>422</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>420</integer><key>optionId</key><string>A</string><key>option</key><string>Hippopotamus</string></dict>
                <dict><key>id</key><integer>421</integer><key>optionId</key><string>B</string><key>option</key><string>Rhinoceros</string></dict>
                <dict><key>id</key><integer>422</integer><key>optionId</key><string>C</string><key>option</key><string>Elephant</string></dict>
                <dict><key>id</key><integer>423</integer><key>optionId</key><string>D</string><key>option</key><string>Cow</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>butterfly</string>
            <key>answerId</key>
            <integer>432</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>430</integer><key>optionId</key><string>A</string><key>option</key><string>Bee</string></dict>
                <dict><key>id</key><integer>431</integer><key>optionId</key><string>B</string><key>option</key><string>Dragonfly</string></dict>
                <dict><key>id</key><integer>432</integer><key>optionId</key><string>C</string><key>option</key><string>Butterfly</string></dict>
                <dict><key>id</key><integer>433</integer><key>optionId</key><string>D</string><key>option</key><string>Ladybug</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>fox</string>
            <key>answerId</key>
            <integer>442</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>440</integer><key>optionId</key><string>A</string><key>option</key><string>Dog</string></dict>
                <dict><key>id</key><integer>441</integer><key>optionId</key><string>B</string><key>option</key><string>Cat</string></dict>
                <dict><key>id</key><integer>442</integer><key>optionId</key><string>C</string><key>option</key><string>Fox</string></dict>
                <dict><key>id</key><integer>443</integer><key>optionId</key><string>D</string><key>option</key><string>Raccoon</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>giraffe</string>
            <key>answerId</key>
            <integer>452</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>450</integer><key>optionId</key><string>A</string><key>option</key><string>Camel</string></dict>
                <dict><key>id</key><integer>451</integer><key>optionId</key><string>B</string><key>option</key><string>Horse</string></dict>
                <dict><key>id</key><integer>452</integer><key>optionId</key><string>C</string><key>option</key><string>Giraffe</string></dict>
                <dict><key>id</key><integer>453</integer><key>optionId</key><string>D</string><key>option</key><string>Deer</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>goat</string>
            <key>answerId</key>
            <integer>462</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>460</integer><key>optionId</key><string>A</string><key>option</key><string>Sheep</string></dict>
                <dict><key>id</key><integer>461</integer><key>optionId</key><string>B</string><key>option</key><string>Deer</string></dict>
                <dict><key>id</key><integer>462</integer><key>optionId</key><string>C</string><key>option</key><string>Goat</string></dict>
                <dict><key>id</key><integer>463</integer><key>optionId</key><string>D</string><key>option</key><string>Cow</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>lion</string>
            <key>answerId</key>
            <integer>472</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>470</integer><key>optionId</key><string>A</string><key>option</key><string>Tiger</string></dict>
                <dict><key>id</key><integer>471</integer><key>optionId</key><string>B</string><key>option</key><string>Bear</string></dict>
                <dict><key>id</key><integer>472</integer><key>optionId</key><string>C</string><key>option</key><string>Lion</string></dict>
                <dict><key>id</key><integer>473</integer><key>optionId</key><string>D</string><key>option</key><string>Lynx</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>penguin</string>
            <key>answerId</key>
            <integer>482</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>480</integer><key>optionId</key><string>A</string><key>option</key><string>Duck</string></dict>
                <dict><key>id</key><integer>481</integer><key>optionId</key><string>B</string><key>option</key><string>Seal</string></dict>
                <dict><key>id</key><integer>482</integer><key>optionId</key><string>C</string><key>option</key><string>Penguin</string></dict>
                <dict><key>id</key><integer>483</integer><key>optionId</key><string>D</string><key>option</key><string>Bird</string></dict>
            </array>
        </dict>
        <dict>
            <key>imageName</key>
            <string>turtle</string>
            <key>answerId</key>
            <integer>492</integer>
            <key>optionsList</key>
            <array>
                <dict><key>id</key><integer>490</integer><key>optionId</key><string>A</string><key>option</key><string>Snail</string></dict>
                <dict><key>id</key><integer>491</integer><key>optionId</key><string>B</string><key>option</key><string>Crab</string></dict>
                <dict><key>id</key><integer>492</integer><key>optionId</key><string>C</string><key>option</key><string>Turtle</string></dict>
                <dict><key>id</key><integer>493</integer><key>optionId</key><string>D</string><key>option</key><string>Frog</string></dict>
            </array>
        </dict>

    </array>
</plist>
