<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>apple</string>
		<key>answerId</key>
		<integer>2</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Banana</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Apple</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Pear</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Plum</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>banana</string>
		<key>answerId</key>
		<integer>6</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Mango</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Banana</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Pineapple</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>8</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Guava</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>carrot</string>
		<key>answerId</key>
		<integer>11</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>9</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Radish</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Beetroot</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Carrot</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Turnip</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>grapes</string>
		<key>answerId</key>
		<integer>16</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>13</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Blueberry</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Cherry</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>15</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Blackberry</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Grapes</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>pineapple</string>
		<key>answerId</key>
		<integer>20</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>17</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Papaya</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Mango</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Guava</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Pineapple</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mango</string>
		<key>answerId</key>
		<integer>24</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Peach</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Orange</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Guava</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Mango</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>strawberry</string>
		<key>answerId</key>
		<integer>28</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Blueberry</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Rasberry</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Blackberry</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Strawberry</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>watermelon</string>
		<key>answerId</key>
		<integer>32</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>29</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Melon</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>30</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Papaya</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>31</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Cantaloupe</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>32</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Watermelon</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tomato</string>
		<key>answerId</key>
		<integer>36</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>33</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Cherry</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>34</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Plum</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>35</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Persimmon</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>36</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Tomato</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>onion</string>
		<key>answerId</key>
		<integer>40</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Garlic</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Leek</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Shallot</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Onion</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>broccoli</string>
		<key>answerId</key>
		<integer>44</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>41</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Spinach</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>42</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Kale</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>43</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Asparagus</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>44</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Broccoli</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cabbage</string>
		<key>answerId</key>
		<integer>48</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>45</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Lettuce</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>46</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Celery</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>47</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Bok Choy</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>48</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Cabbage</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>corn</string>
		<key>answerId</key>
		<integer>52</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>49</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Wheat</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>50</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Barley</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>51</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Rice</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>52</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Corn</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>chili</string>
		<key>answerId</key>
		<integer>56</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>53</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Bell Pepper</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>54</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Jalapeño</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>55</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Capsicum</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>56</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Chili</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>eggplant</string>
		<key>answerId</key>
		<integer>60</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>57</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Squash</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>58</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Zucchini</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>59</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Gourd</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>60</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Eggplant</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>lettuce</string>
		<key>answerId</key>
		<integer>64</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>61</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Spinach</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>62</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Kale</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>63</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Collard</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>64</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Lettuce</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>papaya</string>
		<key>answerId</key>
		<integer>68</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>65</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Mango</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>66</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Passion Fruit</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>67</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Guava</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>68</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Papaya</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>kiwi</string>
		<key>answerId</key>
		<integer>72</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>69</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Lime</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>70</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Gooseberry</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>71</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Fig</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>72</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Kiwi</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>peach</string>
		<key>answerId</key>
		<integer>76</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>73</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Plum</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>74</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Apricot</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>75</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Nectarine</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>76</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Peach</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>pear</string>
		<key>answerId</key>
		<integer>80</integer>
		<key>optionsList</key>
		<array>
			<dict>
				<key>id</key>
				<integer>77</integer>
				<key>optionId</key>
				<string>A</string>
				<key>option</key>
				<string>Apple</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>78</integer>
				<key>optionId</key>
				<string>B</string>
				<key>option</key>
				<string>Plum</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>79</integer>
				<key>optionId</key>
				<string>C</string>
				<key>option</key>
				<string>Fig</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>80</integer>
				<key>optionId</key>
				<string>D</string>
				<key>option</key>
				<string>Pear</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
