<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>badger</key>
	<dict>
		<key>en</key>
		<string>Badger</string>
		<key>jp</key>
		<string>アナグマ</string>
		<key>th</key>
		<string>แบดเจอร์</string>
	</dict>
	<key>bat</key>
	<dict>
		<key>en</key>
		<string>Bat</string>
		<key>jp</key>
		<string>コウモリ</string>
		<key>th</key>
		<string>ค้างคาว</string>
	</dict>
	<key>bear</key>
	<dict>
		<key>en</key>
		<string>Bear</string>
		<key>jp</key>
		<string>クマ</string>
		<key>th</key>
		<string>หมี</string>
	</dict>
	<key>bee</key>
	<dict>
		<key>en</key>
		<string>Bee</string>
		<key>jp</key>
		<string>ハチ</string>
		<key>th</key>
		<string>ผึ้ง</string>
	</dict>
	<key>beetle</key>
	<dict>
		<key>en</key>
		<string>Beetle</string>
		<key>jp</key>
		<string>カブトムシ</string>
		<key>th</key>
		<string>ด้วง</string>
	</dict>
	<key>bird</key>
	<dict>
		<key>en</key>
		<string>Bird</string>
		<key>jp</key>
		<string>鳥</string>
		<key>th</key>
		<string>นก</string>
	</dict>
	<key>bison</key>
	<dict>
		<key>en</key>
		<string>Bison</string>
		<key>jp</key>
		<string>バイソン</string>
		<key>th</key>
		<string>กระทิง</string>
	</dict>
	<key>boar</key>
	<dict>
		<key>en</key>
		<string>Boar</string>
		<key>jp</key>
		<string>イノシシ</string>
		<key>th</key>
		<string>หมูป่า</string>
	</dict>
	<key>butterfly</key>
	<dict>
		<key>en</key>
		<string>Butterfly</string>
		<key>jp</key>
		<string>チョウ</string>
		<key>th</key>
		<string>ผีเสื้อ</string>
	</dict>
	<key>camel</key>
	<dict>
		<key>en</key>
		<string>Camel</string>
		<key>jp</key>
		<string>ラクダ</string>
		<key>th</key>
		<string>อูฐ</string>
	</dict>
	<key>cat</key>
	<dict>
		<key>en</key>
		<string>Cat</string>
		<key>jp</key>
		<string>猫</string>
		<key>th</key>
		<string>แมว</string>
	</dict>
	<key>caterpillar</key>
	<dict>
		<key>en</key>
		<string>Caterpillar</string>
		<key>jp</key>
		<string>毛虫</string>
		<key>th</key>
		<string>หนอนผีเสื้อ</string>
	</dict>
	<key>centipede</key>
	<dict>
		<key>en</key>
		<string>Centipede</string>
		<key>jp</key>
		<string>ムカデ</string>
		<key>th</key>
		<string>ตะขาบ</string>
	</dict>
	<key>chicken</key>
	<dict>
		<key>en</key>
		<string>Chicken</string>
		<key>jp</key>
		<string>ニワトリ</string>
		<key>th</key>
		<string>ไก่</string>
	</dict>
	<key>cockroach</key>
	<dict>
		<key>en</key>
		<string>Cockroach</string>
		<key>jp</key>
		<string>ゴキブリ</string>
		<key>th</key>
		<string>แมลงสาบ</string>
	</dict>
	<key>cow</key>
	<dict>
		<key>en</key>
		<string>Cow</string>
		<key>jp</key>
		<string>牛</string>
		<key>th</key>
		<string>วัว</string>
	</dict>
	<key>coyote</key>
	<dict>
		<key>en</key>
		<string>Coyote</string>
		<key>jp</key>
		<string>コヨーテ</string>
		<key>th</key>
		<string>หมาป่าโคโยตี</string>
	</dict>
	<key>crab</key>
	<dict>
		<key>en</key>
		<string>Crab</string>
		<key>jp</key>
		<string>カニ</string>
		<key>th</key>
		<string>ปู</string>
	</dict>
	<key>crocodile</key>
	<dict>
		<key>en</key>
		<string>Crocodile</string>
		<key>jp</key>
		<string>ワニ</string>
		<key>th</key>
		<string>จระเข้</string>
	</dict>
	<key>crow</key>
	<dict>
		<key>en</key>
		<string>Crow</string>
		<key>jp</key>
		<string>カラス</string>
		<key>th</key>
		<string>อีกา</string>
	</dict>
	<key>deer</key>
	<dict>
		<key>en</key>
		<string>Deer</string>
		<key>jp</key>
		<string>シカ</string>
		<key>th</key>
		<string>กวาง</string>
	</dict>
	<key>dog</key>
	<dict>
		<key>en</key>
		<string>Dog</string>
		<key>jp</key>
		<string>犬</string>
		<key>th</key>
		<string>สุนัข</string>
	</dict>
	<key>dolphin</key>
	<dict>
		<key>en</key>
		<string>Dolphin</string>
		<key>jp</key>
		<string>イルカ</string>
		<key>th</key>
		<string>โลมา</string>
	</dict>
	<key>donkey</key>
	<dict>
		<key>en</key>
		<string>Donkey</string>
		<key>jp</key>
		<string>ロバ</string>
		<key>th</key>
		<string>ลา</string>
	</dict>
	<key>dragonfly</key>
	<dict>
		<key>en</key>
		<string>Dragonfly</string>
		<key>jp</key>
		<string>トンボ</string>
		<key>th</key>
		<string>แมลงปอบ้าน</string>
	</dict>
	<key>duck</key>
	<dict>
		<key>en</key>
		<string>Duck</string>
		<key>jp</key>
		<string>アヒル</string>
		<key>th</key>
		<string>เป็ด</string>
	</dict>
	<key>eagle</key>
	<dict>
		<key>en</key>
		<string>Eagle</string>
		<key>jp</key>
		<string>ワシ</string>
		<key>th</key>
		<string>นกอินทรี</string>
	</dict>
	<key>elephant</key>
	<dict>
		<key>en</key>
		<string>Elephant</string>
		<key>jp</key>
		<string>ゾウ</string>
		<key>th</key>
		<string>ช้าง</string>
	</dict>
	<key>fish</key>
	<dict>
		<key>en</key>
		<string>Fish</string>
		<key>jp</key>
		<string>魚</string>
		<key>th</key>
		<string>ปลา</string>
	</dict>
	<key>flamingo</key>
	<dict>
		<key>en</key>
		<string>Flamingo</string>
		<key>jp</key>
		<string>フラミンゴ</string>
		<key>th</key>
		<string>นกฟลามิงโก</string>
	</dict>
	<key>fly</key>
	<dict>
		<key>en</key>
		<string>Fly</string>
		<key>jp</key>
		<string>ハエ</string>
		<key>th</key>
		<string>แมลงวัน</string>
	</dict>
	<key>fox</key>
	<dict>
		<key>en</key>
		<string>Fox</string>
		<key>jp</key>
		<string>キツネ</string>
		<key>th</key>
		<string>สุนัขจิ้งจอก</string>
	</dict>
	<key>frog</key>
	<dict>
		<key>en</key>
		<string>Frog</string>
		<key>jp</key>
		<string>カエル</string>
		<key>th</key>
		<string>กบ</string>
	</dict>
	<key>giraffe</key>
	<dict>
		<key>en</key>
		<string>Giraffe</string>
		<key>jp</key>
		<string>キリン</string>
		<key>th</key>
		<string>ยีราฟ</string>
	</dict>
	<key>goat</key>
	<dict>
		<key>en</key>
		<string>Goat</string>
		<key>jp</key>
		<string>ヤギ</string>
		<key>th</key>
		<string>แพะ</string>
	</dict>
	<key>goldfish</key>
	<dict>
		<key>en</key>
		<string>Goldfish</string>
		<key>jp</key>
		<string>金魚</string>
		<key>th</key>
		<string>ปลาทอง</string>
	</dict>
	<key>grasshopper</key>
	<dict>
		<key>en</key>
		<string>Grasshopper</string>
		<key>jp</key>
		<string>バッタ</string>
		<key>th</key>
		<string>ตั๊กแตน</string>
	</dict>
	<key>hamster</key>
	<dict>
		<key>en</key>
		<string>Hamster</string>
		<key>jp</key>
		<string>ハムスター</string>
		<key>th</key>
		<string>แฮมสเตอร์</string>
	</dict>
	<key>hedgehog</key>
	<dict>
		<key>en</key>
		<string>Hedgehog</string>
		<key>jp</key>
		<string>ハリネズミ</string>
		<key>th</key>
		<string>เม่น</string>
	</dict>
	<key>hippopotamus</key>
	<dict>
		<key>en</key>
		<string>Hippopotamus</string>
		<key>jp</key>
		<string>カバ</string>
		<key>th</key>
		<string>ฮิปโปโปเตมัส</string>
	</dict>
	<key>horse</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>jp</key>
		<string>馬</string>
		<key>th</key>
		<string>ม้า</string>
	</dict>
	<key>jellyfish</key>
	<dict>
		<key>en</key>
		<string>Jellyfish</string>
		<key>jp</key>
		<string>クラゲ</string>
		<key>th</key>
		<string>แมงกะพรุน</string>
	</dict>
	<key>kangaroo</key>
	<dict>
		<key>en</key>
		<string>Kangaroo</string>
		<key>jp</key>
		<string>カンガルー</string>
		<key>th</key>
		<string>จิงโจ้</string>
	</dict>
	<key>koala</key>
	<dict>
		<key>en</key>
		<string>Koala</string>
		<key>jp</key>
		<string>コアラ</string>
		<key>th</key>
		<string>โคอาลา</string>
	</dict>
	<key>ladybug</key>
	<dict>
		<key>en</key>
		<string>Ladybug</string>
		<key>jp</key>
		<string>テントウムシ</string>
		<key>th</key>
		<string>เต่าทอง</string>
	</dict>
	<key>lion</key>
	<dict>
		<key>en</key>
		<string>Lion</string>
		<key>jp</key>
		<string>ライオン</string>
		<key>th</key>
		<string>สิงโต</string>
	</dict>
	<key>lizard</key>
	<dict>
		<key>en</key>
		<string>Lizard</string>
		<key>jp</key>
		<string>トカゲ</string>
		<key>th</key>
		<string>กิ้งก่า</string>
	</dict>
	<key>lynx</key>
	<dict>
		<key>en</key>
		<string>Lynx</string>
		<key>jp</key>
		<string>オオヤマネコ</string>
		<key>th</key>
		<string>แมวป่าลิงซ์</string>
	</dict>
	<key>monkey</key>
	<dict>
		<key>en</key>
		<string>Monkey</string>
		<key>jp</key>
		<string>サル</string>
		<key>th</key>
		<string>ลิง</string>
	</dict>
	<key>mouse</key>
	<dict>
		<key>en</key>
		<string>Mouse</string>
		<key>jp</key>
		<string>ネズミ</string>
		<key>th</key>
		<string>หนู</string>
	</dict>
	<key>mule</key>
	<dict>
		<key>en</key>
		<string>Mule</string>
		<key>jp</key>
		<string>ラバ</string>
		<key>th</key>
		<string>ล่อ</string>
	</dict>
	<key>ostrich</key>
	<dict>
		<key>en</key>
		<string>Ostrich</string>
		<key>jp</key>
		<string>ダチョウ</string>
		<key>th</key>
		<string>นกกระจอกเทศ</string>
	</dict>
	<key>otter</key>
	<dict>
		<key>en</key>
		<string>Otter</string>
		<key>jp</key>
		<string>カワウソ</string>
		<key>th</key>
		<string>นาก</string>
	</dict>
	<key>owl</key>
	<dict>
		<key>en</key>
		<string>Owl</string>
		<key>jp</key>
		<string>フクロウ</string>
		<key>th</key>
		<string>นกฮูก</string>
	</dict>
	<key>panda</key>
	<dict>
		<key>en</key>
		<string>Panda</string>
		<key>jp</key>
		<string>パンダ</string>
		<key>th</key>
		<string>แพนด้า</string>
	</dict>
	<key>parrot</key>
	<dict>
		<key>en</key>
		<string>Parrot</string>
		<key>jp</key>
		<string>オウム</string>
		<key>th</key>
		<string>นกแก้ว</string>
	</dict>
	<key>pelican</key>
	<dict>
		<key>en</key>
		<string>Pelican</string>
		<key>jp</key>
		<string>ペリカン</string>
		<key>th</key>
		<string>นกกระทุง</string>
	</dict>
	<key>penguin</key>
	<dict>
		<key>en</key>
		<string>Penguin</string>
		<key>jp</key>
		<string>ペンギン</string>
		<key>th</key>
		<string>เพนกวิน</string>
	</dict>
	<key>pig</key>
	<dict>
		<key>en</key>
		<string>Pig</string>
		<key>jp</key>
		<string>ブタ</string>
		<key>th</key>
		<string>หมู</string>
	</dict>
	<key>polar bear</key>
	<dict>
		<key>en</key>
		<string>Polar bear</string>
		<key>jp</key>
		<string>ホッキョクグマ</string>
		<key>th</key>
		<string>หมีขั้วโลก</string>
	</dict>
	<key>rabbit</key>
	<dict>
		<key>en</key>
		<string>Rabbit</string>
		<key>jp</key>
		<string>ウサギ</string>
		<key>th</key>
		<string>กระต่าย</string>
	</dict>
	<key>raccoon</key>
	<dict>
		<key>en</key>
		<string>Raccoon</string>
		<key>jp</key>
		<string>アライグマ</string>
		<key>th</key>
		<string>แรคคูน</string>
	</dict>
	<key>red panda</key>
	<dict>
		<key>en</key>
		<string>Red panda</string>
		<key>jp</key>
		<string>レッサーパンダ</string>
		<key>th</key>
		<string>แพนด้าแดง</string>
	</dict>
	<key>rhinoceros</key>
	<dict>
		<key>en</key>
		<string>Rhinoceros</string>
		<key>jp</key>
		<string>サイ</string>
		<key>th</key>
		<string>แรด</string>
	</dict>
	<key>scorpion</key>
	<dict>
		<key>en</key>
		<string>Scorpion</string>
		<key>jp</key>
		<string>サソリ</string>
		<key>th</key>
		<string>แมงป่อง</string>
	</dict>
	<key>seahorse</key>
	<dict>
		<key>en</key>
		<string>Seahorse</string>
		<key>jp</key>
		<string>タツノオトシゴ</string>
		<key>th</key>
		<string>ม้าน้ำ</string>
	</dict>
	<key>seal</key>
	<dict>
		<key>en</key>
		<string>Seal</string>
		<key>jp</key>
		<string>アザラシ</string>
		<key>th</key>
		<string>แมวน้ำ</string>
	</dict>
	<key>shark</key>
	<dict>
		<key>en</key>
		<string>Shark</string>
		<key>jp</key>
		<string>サメ</string>
		<key>th</key>
		<string>ฉลาม</string>
	</dict>
	<key>sheep</key>
	<dict>
		<key>en</key>
		<string>Sheep</string>
		<key>jp</key>
		<string>ヒツジ</string>
		<key>th</key>
		<string>แกะ</string>
	</dict>
	<key>shrimp</key>
	<dict>
		<key>en</key>
		<string>Shrimp</string>
		<key>jp</key>
		<string>エビ</string>
		<key>th</key>
		<string>กุ้ง</string>
	</dict>
	<key>snail</key>
	<dict>
		<key>en</key>
		<string>Snail</string>
		<key>jp</key>
		<string>カタツムリ</string>
		<key>th</key>
		<string>หอยทาก</string>
	</dict>
	<key>snake</key>
	<dict>
		<key>en</key>
		<string>Snake</string>
		<key>jp</key>
		<string>ヘビ</string>
		<key>th</key>
		<string>งู</string>
	</dict>
	<key>spider</key>
	<dict>
		<key>en</key>
		<string>Spider</string>
		<key>jp</key>
		<string>クモ</string>
		<key>th</key>
		<string>แมงมุม</string>
	</dict>
	<key>squid</key>
	<dict>
		<key>en</key>
		<string>Squid</string>
		<key>jp</key>
		<string>イカ</string>
		<key>th</key>
		<string>ปลาหมึก</string>
	</dict>
	<key>squirrel</key>
	<dict>
		<key>en</key>
		<string>Squirrel</string>
		<key>jp</key>
		<string>リス</string>
		<key>th</key>
		<string>กระรอก</string>
	</dict>
	<key>starfish</key>
	<dict>
		<key>en</key>
		<string>Starfish</string>
		<key>jp</key>
		<string>ヒトデ</string>
		<key>th</key>
		<string>ปลาดาว</string>
	</dict>
	<key>swan</key>
	<dict>
		<key>en</key>
		<string>Swan</string>
		<key>jp</key>
		<string>白鳥</string>
		<key>th</key>
		<string>หงส์</string>
	</dict>
	<key>tick</key>
	<dict>
		<key>en</key>
		<string>Tick</string>
		<key>jp</key>
		<string>ダニ</string>
		<key>th</key>
		<string>เห็บ</string>
	</dict>
	<key>tiger</key>
	<dict>
		<key>en</key>
		<string>Tiger</string>
		<key>jp</key>
		<string>トラ</string>
		<key>th</key>
		<string>เสือ</string>
	</dict>
	<key>turkey</key>
	<dict>
		<key>en</key>
		<string>Turkey</string>
		<key>jp</key>
		<string>七面鳥</string>
		<key>th</key>
		<string>ไก่งวง</string>
	</dict>
	<key>turtle</key>
	<dict>
		<key>en</key>
		<string>Turtle</string>
		<key>jp</key>
		<string>カメ</string>
		<key>th</key>
		<string>เต่า</string>
	</dict>
	<key>whale</key>
	<dict>
		<key>en</key>
		<string>Whale</string>
		<key>jp</key>
		<string>クジラ</string>
		<key>th</key>
		<string>ปลาวาฬ</string>
	</dict>
	<key>worm</key>
	<dict>
		<key>en</key>
		<string>Worm</string>
		<key>jp</key>
		<string>ミミズ</string>
		<key>th</key>
		<string>หนอน</string>
	</dict>
	<key>zebra</key>
	<dict>
		<key>en</key>
		<string>Zebra</string>
		<key>jp</key>
		<string>シマウマ</string>
		<key>th</key>
		<string>ม้าลาย</string>
	</dict>
</dict>
</plist>
